*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-bg:#0b1220;
  --sidebar-bg:#10192b;
  --elevatedPanel-bg:#1a2a45;
  --primary-main:#5b6cff;
  --primary-hover:#434fd0;
  --dark-accent:#383fad;
  --deep-accent:#2e358f;
  --progress-bar-bg:#3c82f6;
  --progress-bar:#3474db;
  --active-highlight:#2c63bd;
  --main-text-headings:#fff;
  --primary-body-text:#e6eaf2;
  --secondary-body-text:#c9d1e3;
  --muted-text:#9ca8c3;
  --inner-card-shadow:#1f2a48;
  --her0-gradient:#222e52;
  --shadow-cl:#00000044;
  --footer-cl:#0f111acc;
  --transition: .2s ease-in-out;
}

body{
      background-color: var(--main-bg);
      color: var(--primary-body-text);
      display: flex;
     flex-direction: column;
     min-height: 100vh;
}

/*header section*/

.header-icon{
  width: 25px;
}

.profile{
   display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 10px;
}
.bell{ 
  position: relative; 
  display: flex;
  align-items: center;
  cursor: pointer;
}
.notify{
  position: absolute;
  top: 0;
  right: -2px;
  font-size: 0.9rem;
  width: 14.5px;
  height: 14.5px;
  color:#fff;
  padding:0 3px;
  border-radius: 50%;
  background-color: #f00;
  transition: var(--transition);
}

.notify:hover{
  color: red;
  background-color: var(--main-text-headings);
}

.profile-icon{
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.burger div{
  width: 21.5px;
  height: 2.5px;
  background-color: var(--primary-hover);
  margin: 4.5px;
}

.burger .shortWidth{
  width: 17.5px;
  justify-self: right;
}

header{
  height: 50px;
 padding:0 9px; 
box-shadow: 0 1.5px 2px var(--shadow-cl);
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: sticky;
 top: 0;
 right: 0;
 left: 0;
  background-color: var(--main-bg);
  z-index: 100;
}

.right-corner{
  width: fit-content;
  display: flex;
  align-items: center;
}

.website-name{
  display: flex;
  gap:2.8px;
  align-items: center;
}

.website-name p{
  font-size: 1.2rem;
  font-weight: 500;
}
.burger{
  cursor: pointer;
  display: none;
}

.burger div{
  transition: transform .15s ease;
}

.animateBurger .line1{
  transform: rotate(45deg) translate(7px,7px);
}
.animateBurger .line2{
  opacity: 0;
}
.animateBurger .line3{
  transform: rotate(-45deg) translate(2.5px,-4px);
}

/*side bar*/

.sidebar{
  position: fixed;
  top: 9vh;
  height: 91vh;
  width: 200px;
  background-color: var(--sidebar-bg);
  border-bottom-right-radius: 3.5px;
  border-top-right-radius: 3.5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition:all .2s ease-in-out;
  z-index: 100;
}

.sidebar-title{
  text-align: center;
  margin: 10px 0;
  font-size: 0.95rem;
  color: var(--secondary-body-text);
}

.sidebar-nav:hover{
  background-color: var(--footer-cl);
  width: 100%;
  padding-left: 35px;
}

.sidebar-nav{
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1rem 1px;
  padding-left: 10px;
  color: var(--muted-text);
  transition: var(--transition); 
}

.active{
  background-color: var(--her0-gradient);
  color: var(--primary-body-text);
}

.sidebar-Icon img{
  width: 15.5px;
}
.sidebar a{
  text-decoration: none;
}

.sidebar-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 0.8rem;
  color: var(--secondary-body-text);
}

.sidebar-profile img{
  width: 23.5px;
  border-radius: 50%;
}


/*main section*/
main{
  margin:8px 10px 8px 211px ;
  flex: 1;
}

/*responsive sidebar*/

@media (max-width:650px){

  .profile-icon{
    display: none;
  }

  .burger{
    display: block;
  }

  .sidebar{
    transform: translate(-100%);
  }

  .sidebar-nav{
    opacity: 0;
    transform: translateX(-30px);
    transition: transform .4s ease , opacity .4s ease;
  }

  .sidebar-nav-trans {
    transition:all .2s ease ;
  }

 .revertSidebar .sidebar-nav{
  opacity: 1;
  transform: translateX(0);
 }

  .revertSidebar{
    transform: translate(0%);
    opacity: 1;
  }

  main{
    margin:8px 6px;
  }
}


/*hero secion*/

.heroRightSide{
  flex: 1;
}

.heroRightSide img{
  width: 350px;
}


.leftSide-items{
  height: 189px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title{
  text-transform: capitalize;
  font-size: clamp(1rem, 2vw + 0.4rem, 3rem);
  margin-bottom: 5px;
  color: var(--main-text-headings);
  font-family: "Poppins" , sans-serif;
  font-weight: 500;
}

.hero-subtitle{
  font-size: clamp(0.5rem, 1vw + 0.25rem,0.85rem);
  margin: 2px 0 8px 0;
  font-family: inter;
  color: var(--secondary-body-text);
}

.hero-buttons{
  display: flex;
  gap:10px ;
  margin-top: clamp(0.2rem + 1vw);
  margin-left: 10px;
  
 /*  width: clamp(2vw + 1rem); */
}

.hero-buttons img{
  width: 15px;
}

.hero-btn1,.hero-btn2{
  border: 1px solid var(--secondary-body-text);
  border-radius: 20px;
  padding-left:calc(1vw + 0.55rem);
  padding-right:calc(1vw + 0.55rem);
  padding-top:calc(0.2vw + 0.15rem);
  padding-bottom:calc(0.2vw + 0.15rem);
  display: flex;
  align-items: center;
  font-size: clamp(0.4rem, 1vw + 0.2rem , 1rem);
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease;
  color: var(--primary-body-text);
}

.hero-btn2:hover{
  background-color: var(--muted-text);
  color:#000;
}

.hero-btn1{
  background-color: var(--primary-main);
}

.hero-btn1:hover{
  background-color: var(--primary-hover);
}

.heroSection{
  position: relative;
  height: 210px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff57;
  border-radius: 5px;
  background-color: var(--elevatedPanel-bg);
  overflow: hidden;
}



@media (max-width:700px){
  .heroRightSide img{
    width: 250px;
  }
}



/*footer section*/
footer{
  margin-left:202px ;
  height: 10vh;
  background-color:/* #0f111a */ var(--footer-cl);
  backdrop-filter: blur(10px);
}